@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
body {
  background-color: #e6d8be !important;
}

.icon_around:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.icon_around{
  display:flex;
  flex-direction:column;
  width:70%;
  transform:translate(13%,0);
  align-items:center;
}

.title{
  font-family:"kiwi maru", serif;
  display:block;
  position: relative;
  text-align: center;
  font-size:36px;
}

.go_down{
  display: flex;
  flex-direction: column;
  align-items: center;
}